 <h1>Articles</h1>
        <h3>Language learning articles</h3>
        <h4>Left side panel with topics / right side panel view of the article </h4>
        
        <div class="container">
            <div class="list-group">
                <a href="#!article" class="list-group-item">Learning vocabulary</a>
                <a href="#!article" class="list-group-item">Art of giving feedback</a>
                <a href="#!article" class="list-group-item">What is your goal with learning a language</a>
            </div>
        </div>