<div style="margin: 15px">
    <div class="container">
        <h1>Badges</h1>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" data-target="#General">General</a></li>
            <li><a data-toggle="pill" data-target="#English">English</a></li>
            <li><a data-toggle="pill" data-target="#German">German</a></li>
        </ul>
    </div>
    <br/>

    <div class="tab-content">
        <hr>
        <div id="General" class="tab-pane fade in active">
            <p>Explorer badge</p>
            <a href="#!badge"><img src="graphics/Table9.png" class="img-circle" width=100></a>

            <p>Click to see more details.</p>

            <p>Discoverer badge</p>
            <img src="graphics/Table14.png" class="img-circle" width=100>
            <p>Click to see more details.</p>

            <p>Locked badge</p>
            <img src="graphics/lock.png" class="img-circle" width=100>
            <p>Evalutate 10 MIB's to unlock this badge.</p>
        </div>

        <div id="English" class="tab-pane fade in active">
            <p>Locked badge</p>
            <img src="graphics/lock.png" class="img-circle" width=100>
            <p>Evalutate 20 MIB's to unlock this badge.</p>
        </div>

        <div id="German" class="tab-pane fade in active">
            <p>Locked badge</p>
            <img src="graphics/lock.png" class="img-circle" width=100>
            <p>Evalutate 10 MIB's to unlock this badge.</p>
        </div>
    </div>
</div>



