<h1>Comments</h1>
      <h2>Divide into comments on my MIBs and my comments</h2>
      <h4>My comments / Author / Country / Language / Topic / Date /  Link to the MIB itself - where you can check details</h4>
      
      <img src="graphics/Table5.png" width="75">
       <br/>
        <a href="#!mib">Go to MIB </a> <br/>
        Status: inactive <br/>
        MIB number: 1 <br/>
       Language: German <br/>
       Topic: Tell about your job <br/>
       Date: 23.07.2018 <br/>
       Evaluations: 2 <br/>
       Comments: 5 <br/>
       <hr>
       
       <img src="graphics/Table5.png" width="75">
       <br/>
        <a href="#!mib">Go to MIB </a> <br/>
        Status: inactive <br/>
        MIB number: 1 <br/>
       Language: German <br/>
       Topic: Tell about your job <br/>
       Date: 23.07.2018 <br/>
       Evaluations: 2 <br/>
       Comments: 5 <br/>
       <hr>
       
       <img src="graphics/Table5.png" width="75">
       <br/>
        <a href="#!mib">Go to MIB </a> <br/>
        Status: inactive <br/>
        MIB number: 1 <br/>
       Language: German <br/>
       Topic: Tell about your job <br/>
       Date: 23.07.2018 <br/>
       Evaluations: 2 <br/>
       Comments: 5 <br/>
       <hr>
      