<div class="container text-center">
    <h1>You're commenting:</h1>
    <h2>MIB no. #</h2>
    <div class="row-content">
        <div class="col-sm-2">
        </div>


        <div class="col-sm-8">
            <img class="img-responsive center-block" src="graphics/Table5.png" width="200">
            <br/>
            <h3>Write your comment here:</h3>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <button class="btn btn-success" type="button">Send</button>
            <button class="btn btn-danger" type="button">Cancel</button>
            <br/>
        </div>

        <div class="col-sm-2">
        </div>

    </div>
</div>
