<div class="container-fluid text-center">
    <div class="row-content">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="container-fluid">
                <h1>Choose library:</h1>
                <img class="img-responsive" src="graphics/Table3.png" width="250" style="float: left"> Choose which kind of subject you would like to speak about.
                <hr>
                Standard - topics that you will most likely encounter in everyday life. You can look them up before and prepare for them.<hr>
                Random - topics that require improvising and being creative. Option for advanced users of the language. You'll learn how to deal in unexpected situations handle stress. Get bonus points for speaking spontaneously.<hr>
                Custom - create your own subject that is relevant to you. <hr>
                
            </div>
            
            <br/>
            
            <div class="container-fluid">
                <button type="button" class="btn btn-primary">Standard</button>
                <button type="button" class="btn btn-primary">Random</button>
                <button type="button" class="btn btn-primary">Custom</button>
            </div>

            <div>
                <br/>
                <a href="#!create_language"><button type="button" class="btn btn-default">Back</button></a>
                <a href="#!create_topic"><button type="button" class="btn btn-success">Next</button></a>
            </div>

        </div>
        <div class="col-sm-2">
        </div>

    </div>
</div>