<h1>Throw bottle</h1>
<h3>Process of MIB creation: select language / library / topic</h4>
<h4>Choose language:</h4>
<p>Languages available for user.</p>
<h4>Choose library</h4>
<p>Libraries available for user.</p>
<h4>Choose topic:</h4>
<p>Available topics</p>
<p>See the description, check the keywords, when ready click the button under to start recording.</p>
<hr>
<button type="button" class="btn btn-danger">Record</button>
<hr>
<p>Timer pops counting down from 5 till start of recording.</p>
<p>Recording screen. option to stop</p>
<p>Finished after max 2 minutes . Save the  file on the system.</p>
<p>Upload file to server. Progress bar. Success message. Failure Message.</p>