<div class="container-fluid text-center">
    <div class="row-content">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="container-fluid">
                <h1>Choose language</h1>
                <img class="img-responsive" src="graphics/Table2.png" width="200" style="float: left">


                Select the language in which you would like to create the message. The available languages are provided from the languages which you have choosen in the "learning" section.
                <br/>
            </div>
            <br/>
            <div class="container-fluid">
               <a href="">
                    <img src="/resources/flag/gb.png" width="75" >
               </a>
               <a href="">
                    <img src="/resources/flag/de.png" width="75" >
               </a>
               <a href="">
                   <img src="/resources/flag/fr.png" width="75" >
               </a>
               
            </div>

            <div>
               <br/>
                <a href="#!dashboard"><button type="button" class="btn btn-default">Back</button></a>
                <a href="#!create_library"><button type="button" class="btn btn-success">Next</button></a>
            </div>




        </div>
        <div class="col-sm-2">
        </div>

    </div>
</div>