<div class="container text-center">
    <div class="row-content">
        <div class="col-sm-2">
        </div>


        <div class="col-sm-8">
            <h1>Choose topic from (language) (library type) </h1>
            <h4>Each topic has an id, which is assigned to the MIB, also shows the language and category.</h4>
            <h5>After choosing a back / next button appears.</h5>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#collapse1">General</a>
                        </h4>
                    </div>

                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Tell about your passion.</li>
                            <li class="list-group-item">Where are you now, what are you doing, what's your plan?</li>
                            <li class="list-group-item">What is your country known for?</li>
                            <li class="list-group-item">What have you learnt today?</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#collapse2">Job interviews</a>
                        </h4>
                    </div>

                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Topic 1</li>
                            <li class="list-group-item">Topic 2</li>
                            <li class="list-group-item">Topic 3</li>
                            <li class="list-group-item">Topic 4</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <br/>
                <a href="#!create_library"><button type="button" class="btn btn-default">Back</button></a>
                <a href="#!create_desc"><button type="button" class="btn btn-success">Next</button></a>
            </div>

        </div>

        <div class="col-sm-2">
        </div>

    </div>
</div>

