


<div class="container text-center">
    <div class="row-content">
        <div class="col-sm-2">
        </div>


        <div class="col-sm-8">
            <div>

                <h1>Recording done!</h1>
                <h3>Awesome, it's ready.</h3>
                <h3>Upload to server or save it to upload later.</h3>
                <h4>Once uploaded it will be visible to other users to evaluate and comment.
                </h4>
                <h4>To change the visibility settings go to: account / settings / MIBS
                </h4>
                <img class="img-responsive center-block" src="graphics/Table5.png" width="250"> <br/>
                <button type="button" class="btn btn-success">Upload</button>
                <button type="button" class="btn btn-warning">Save</button>
                <a href="#!/">
                    <button type="button" class="btn btn-danger">Cancel</button> <br/>
                </a>
                <hr>

                <div class="form-group">
                    <label for="Notes">Notes:</label>
                    <textarea placeholder="Write a note to the evaluator or your remarks here:" class="form-control" rows="5" id="notes"></textarea>
                </div>

                <h4>Progress bar for uploading / saving file / for saving choose directory / relisten option?</h4>
            </div>
        </div>

        <div class="col-sm-2">
        </div>

    </div>
</div>
