<div class="container text-center">
    <div class="row-content">
        <div class="col-sm-2">
        </div>


        <div class="col-sm-8">
            <h1>Selected options:</h1>
            <h4>Language: german</h4>
            <h4>Library: standard</h4>
            <h4>Topic: Tell about your passion?</h4>
            <h5>Description: Tell about the thing that you could do everyday and that you wouldn't have to be paid for to do and that you do with pleasure in your free time?</h5>
            <h4>Keywords can be chosen or selected at random, you should use them during your speech.</h4>
            <h5>Keywords: since, childhood, everyday, hobby, interest, like, free, passion, everyone,  gladly</h5>
            <hr>
            <h4>When ready press next to go to the recording panel.</h4>

            <div>


                <a href="#!create_topic"><button type="button" class="btn btn-default">Back</button></a>
                <a href="#!create_record"><button type="button" class="btn btn-success">Next</button></a>
            </div>
        </div>

        <div class="col-sm-2">
        </div>

    </div>
</div>
