<div class="container-fluid text-center" >   
  <div >
     <h1 class="jumbotron">Dashboard</h1>  
  </div>
   
    <div class="col-sm-6" >
        <h4><a href="#!create_language">Create MIB</a></h4>
        <img class="img-responsive center-block" src="/graphics/Table5.png"  width="350">
        <h5>Start learning.</h5>
    </div>
    <div class="col-sm-6">
        <h4><a href="#!explore">Explore</a></h4>
        <img class="img-responsive center-block" src="/graphics/Table11.png" width="350">
        <h5>Search for  MIB's.</h5>
    </div>
</div>
