


<div class="container text-center">
    <div class="row-content">
        <div class="col-sm-2">
        </div>


        <div class="col-sm-8">
            <h1>You're evaluating:</h1>
            <h2>MIB no. #</h2>

            <img class="img-responsive center-block" src="graphics/Table5.png" width="200">
            <br/>
            <br/>

            Grammar: 
            <button class="btn btn-info" style="border-radius: 50%" type="button">1</button>
            <button  class="btn btn-info" style="border-radius: 50%" type="button">2</button>
            <button class="btn btn-info" style="border-radius: 50%" type="button">3</button>
            <button class="btn btn-info" style="border-radius: 50%" type="button">4</button>
            <button class="btn btn-info" style="border-radius: 50%" type="button">5</button>
            <br/>

            Pronounciation: 
            <button class="btn btn-info" style="border-radius: 50%" type="button">1</button>
            <button  class="btn btn-info" style="border-radius: 50%" type="button">2</button>
            <button class="btn btn-info" style="border-radius: 50%" type="button">3</button>
            <button class="btn btn-info" style="border-radius: 50%" type="button">4</button>
            <button class="btn btn-info" style="border-radius: 50%" type="button">5</button>
            <br/>

            General: 
            <button class="btn btn-info" style="border-radius: 50%" type="button">1</button>
            <button  class="btn btn-info" style="border-radius: 50%" type="button">2</button>
            <button class="btn btn-info" style="border-radius: 50%" type="button">3</button>
            <button class="btn btn-info" style="border-radius: 50%" type="button">4</button>
            <button class="btn btn-info" style="border-radius: 50%" type="button">5</button>
            <br/>
            <hr>

            Keywords: work, long, money, everyone, morning <br/>

            Keywords used: <br/>
            <button class="btn btn-info" type="button"> work</button> <br/>
            <button class="btn btn-info" type="button">long</button> <br/>
            <button class="btn btn-info" type="button">money</button> <br/>
            <button class="btn btn-info" type="button">everyone</button> <br/>
            <button class="btn btn-info" type="button">morning</button> <br/>
            <br/>



            <div class="form-group">

                <div class="form-group">
                    <label for="comment">Done well:</label>
                    <textarea placeholder="Write what did you like about the message" class="form-control" rows="5" id="comment"></textarea>
                </div>
                <div class="form-group">
                    <label for="comment">Could be improved:</label>
                    <textarea placeholder="Write what did you like about the message" class="form-control" rows="5" id="comment"></textarea>
                </div>
                <div class="form-group">
                    <label for="comment">Could be improved:</label>
                    <textarea placeholder="Write any other comments" class="form-control" rows="5" id="comment"></textarea>
                </div>

                <hr>
                <button class="btn btn-success" type="button">Submit</button>
                <a href="#!explore">
                    <button class="btn btn-danger" type="button">Cancel</button>
                </a>



            </div>

            <div class="col-sm-2">
            </div>

        </div>
    </div>
