 <h1>You're checking:</h1>
                    <h4>Feedback number #</h4>

                    <img src="graphics/Table5.png" width="200"> <br/>
                    <button>Confirm</button>
                    <a href="#!report_feedback">
                        <button>Reject</button> 
                    </a>
                    <br/>

                    Given on: ## ## ## <br/>
                    Grammar: # <br/>
                    Pronounciation: # <br/>
                    General: # <br/>
                    Keywords used: # of 5 <br/>
                    You did well: I wish I could speak German as you speak English! <br/>
                    Could improve: I didn't get what you meant with: ## <br/>
                    Comments: Waiting for your next message! <br/>